# 模块名
SERVER_NAME: "v2ray_subscribe"

# host
HOST: "0.0.0.0"
# port
PORT: 1800

## 日志级别
#LOG_DEBUG: true
## 日志路径
# LOG_PATH: "./v2ray_subscribe"

# flask debug
FLASK_DEBUG: false

# 默认的生命值
MAX_DEATH_COUNT: 10

# 数据库地址
# 如果使用 `sqlite` 请加上 ?check_same_thread=false
DB_URL: "mysql+pymysql://root:N6qCcRQf2zNlxmHz7OtdeJ6T67zWJj7l@203.195.187.254:3306/release"
#DB_URL: "sqlite:///subscribe.vdb?check_same_thread=false"
#DB_URL: "postgresql+psycopg2://postgres:S8R0jXGasTBg8k0jEvushPvo6xOXbyeh@203.195.187.254:5432/release"

# 默认检测间隔
Interval: 60 * 60

CHECK_PORT: 1086

PROXIES_CRAWLER: {"http": "socks5://127.0.0.1:10808", "https": "socks5://127.0.0.1:10808"}

# v2ray 工作目录
V2RAY_SERVICE_PATH: "F:/Desk/v2ray"

# 是否打开测速
ENABLE_CHECK_ALIVE: true

# 是否打开抓取
ENABLE_CRAWL: true